.primary-font {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --highlight: rgb(79, 123, 79);
    --contrast: rgb(116, 149, 116);
    --font-title: 4rem;
    --font-large: 2.5rem;
    --font-medium: 1.5rem;
    --font-small: 1.1rem;
    --font-label: .85rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
}

*:focus {
    outline: none;
}

@keyframes fadeInBrightness {
    from {
        filter: brightness(0);
    }
    to {
        filter: brightness(1);
    }
}

@keyframes resetPosition {
    to {
        top: 0;
        left: 0;
    }
}

.page-markers {
    height: 0;
    position: relative;
    top: -200px;
    visibility: hidden;

}

.line-highlight {
    position: relative;
    --pos: -10px;
    --opt: 0;
}

.line-highlight-visible {
    --pos: 0;
    --opt: 0.15;
}

.line-highlight::after {
    content: "";
    width: 40px;
    height: 3px;
    background: rgb(0, 0, 0);
    display: block;
    position: absolute;
    top: -10px;
    left: var(--pos);
    opacity: var(--opt);
    transition: .5s;
}

.text-highlight {
    font-weight: bold;
    background: rgb(231, 231, 231);
}

.content-highlight {
    color: black;
    opacity: .4;
    transition: .2s;
}

.content-highlight:hover {
    color: var(--highlight);
    opacity: 1;
}

.content, .header {
    width: 100vw;
    max-width: 1400px;
    margin: auto;
}

.header {
    height: 48px;
    margin: auto;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(30px);
    padding: 0 20%;
    position: fixed;
    top: -48px;
    z-index: 100;
    animation: resetPosition 0.5s .25s ease-in-out forwards;
}

.header-nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-link {
    width: 150px;
    min-width: 110px;
    height: 100%;
    color: black;
    font-size: var(--font-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-nav-link:hover {
    color: black;
    background: rgba(0, 0, 0, 0.06);
}

body:has(.sidebar-shown) .content, body:has(.sidebar-shown) .header {
    pointer-events: none;
    touch-action: none;
}

body:has(.sidebar-shown) {
    height: 100dvh;
    overflow: hidden;
}

#main-background {
    width: 100vw;
    height: 100dvh;
    background: gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#main-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-trigger {
    background: rgba(255, 255, 255, .25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px 10px;
    display: none;
    position: fixed;
    top: calc(env(safe-area-inset-top) + 20px);
    left: 25px;
    z-index: 9;
    transition: .3s;
    cursor: pointer;
}

.sidebar-trigger svg {
    width: 40px;
    height: 40px;
}

.sidebar {
    width: 80%;
    height: 100dvh;
    background: linear-gradient(var(--highlight), rgb(67, 99, 67));
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    transition: .4s;
}

.sidebar-shown {
    left: 0;
    box-shadow: 0 0 10px 1000vw rgba(0, 0, 0, .3);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .3));
}

.sidebar-hidden {
    left: -100%;
}

.sidebar * {
    color: white;
    text-align: left;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.sidebar-close {
    width: var(--size);
    height: var(--size);
    background: var(--contrast);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 48px;
    right: calc(var(--size) / 2 * -1);
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    --size: 40px;
}

.sidebar-close svg {
    width: 50%;
    height: 50%;
}

.sidebar a, .sidebar ul {
    width: 100%;
    text-align: left;
}

.sidebar a {
    font-size: var(--font-medium);
}

.sidebar li, .sidebar a {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    display: block;
    place-content: center;
}

.sidebar-list li {
    padding: 0;
}

.sidebar-sections {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-rows: 50px calc(100% - 180px) 50px;
    gap: 50px;
}

.sidebar-list {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
    touch-action: manipulation;
    mask-image: linear-gradient(to bottom, transparent, black 4%, black 96%, transparent);
}

.sidebar-list::-webkit-scrollbar {
    display: none;
}

.sidebar-sources:hover, .sidebar-home:hover, .sidebar-list li:hover {
    opacity: 1;
    background: rgba(255, 255, 255, .25);
}

.sidebar-item {
    position: relative;
}

.sidebar-item::after {
    content: "";
    width: 80%;
    height: 2px;
    background: white;
    display: block;
    position: absolute;
    top: 96%;
    left: 20px;
    opacity: 0.4;
}

.landing {
    width: 100%;
    height: 110dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    animation: fadeInBrightness 1s ease-in-out forwards;
}

.landing-image {
    width: 100%;
    height: 100%;
    background: rgb(50, 106, 73);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    z-index: -1;
    filter: brightness(0.85) hue-rotate(30deg);
}

.landing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-hero {
    width: 80%;
    min-width: 300px;
    height: 45dvh;
    text-align: center;
    padding: 1.5rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
    position: relative;
}

.hero-title {
    color: white;
    font-size: clamp(5vw, var(--font-title), 9vw);
}

.hero-subtitle {
    width: 85%;
    color: white;
    font-size: var(--font-small);
    line-height: 1.7rem;
}

#signature {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: .8;
}

.main-content {
    width: 100%;
    margin: 80px 0 370px;
    padding: 0 35% 0 20%;
    justify-content: center;
    gap: calc(var(--gap) * 2);
}

.report-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.report-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.report-section-title {
    font-size: var(--font-large);
    font-weight: bold;
    margin: 30px 0 10px;
}

.report-section-subtitle {
    font-size: var(--font-medium);
    font-weight: bolder;
    font-style: italic;
    text-align: justify;
    margin: 32px 0 8px;
    position: relative;
}

.report-section-text {
    text-align: justify;
    font-size: var(--font-small);
}

.report-section-image-container {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.report-section-image-container img {
    width: 55%;
    object-fit: cover;
}

.report-section-video-container {
    width: 100%;
}

.report-section-video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.report-section-label {
    color: rgb(131, 77, 77);
    font-size: var(--font-label);
    font-style: italic;
    opacity: .8;
}

.side-content-box::before{
    content: "";
    width: 30px;
    height: 2px;
    background: var(--highlight);
    display: block;
    position: absolute;
    top: calc(0% - 12px);
    left: calc(100% - 28px);
    z-index: 1;
    opacity: .5;
}

.side-content-social-media {
    margin-top: 40px;
}

.social-media-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.social-media-list svg {
    width: var(--icon-size);
    height: var(--icon-size);
    --icon-size: 22px;
}

.sources {
    margin: 200px auto;
    padding: 0 20%;
}

.sources-title-container {
    margin-bottom: 40px;
    position: relative;
}

.sources-title-container h1 {
    font-size: var(--font-large);
    font-weight: bold;
}

.sources-wrapper {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.sources-group {
    width: fit-content;
    position: relative;
}

.sources-group:hover::after {
    content: '';
    width: var(--size);
    height: var(--size);
    background: url('assets/link-arrow.png');
    background-size: var(--size) var(--size);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    left: calc(100% + var(--size));
    transform: translate(-50%, -50%);
    filter: hue-rotate(40deg);
    --size: 20px;
}

.sources-item {
    color: rgb(146, 146, 146);
    text-decoration: none;
}

.sources-item:hover {
    color: var(--highlight);
    text-decoration: underline;
}

#warning {
    width: 50%;
    min-width: 250px;
    font-size: .8rem;
    text-align: center;
    margin: auto;
    padding: 0 0 150px;
    opacity: .5;
}