@media (max-width: 600px) {
    .main-content {
        padding: 10%;
    }

    .report-section-title {
        display: flex;
        flex-direction: column;
    }

    .report-section-image-container {
        justify-content: center;
        align-items: center;
    }

    .report-section-image-container img {
        width: 70%;
    }

    .header {
        display: none;
    }

    .sidebar-trigger {
        display: block;
    }
}